*-ext.properties
*.bak
*.iml
*.ipr
*.iws
*.swp
*~
*.byke

.ant-targets-build.xml
.ant_targets
.idea
.sass-cache/
.sass_cache_*.css
.settings/
.DS_Store
.project
.gradle

/cloudsvc-sdk/.ivy

/*/*/*/docroot/WEB-INF/lib/portal-compat-shared.jar
/*/*/*/docroot/WEB-INF/src/META-INF/log4j.dtd
/*/*/*/test-results
/*/*/docroot/WEB-INF/lib/portal-compat-shared.jar
/*/*/docroot/WEB-INF/src/META-INF/log4j.dtd
/*/build.*.properties
/build.*.properties

_sass_cache_*.css

build.*.properties
dist
out
classes
data
target
bin
generated
test-classes
test-results
tmp
/build-tool-sdk/
