*-ext.properties
*.bak
*.iml
*.ipr
*.iws
*.swp
*~
*.byke

.ant-targets-build.xml
.ant_targets
.idea
.sass-cache/
.sass_cache_*.css
.settings/
.DS_Store
.project

/cloudsvc-sdk/.ivy

/*/*/*/bin
/*/*/*/classes
/*/*/*/docroot/WEB-INF/classes
/*/*/*/docroot/WEB-INF/lib/portal-compat-shared.jar
/*/*/*/docroot/WEB-INF/src/META-INF/log4j.dtd
/*/*/*/test-classes
/*/*/*/test-results
/*/*/*/tmp
/*/*/bin
/*/*/classes
/*/*/docroot/WEB-INF/classes
/*/*/docroot/WEB-INF/lib/portal-compat-shared.jar
/*/*/docroot/WEB-INF/src/META-INF/log4j.dtd
/*/*/test-classes
/*/*/test-results
/*/*/tmp
/*/build.*.properties
/*/dist
**/generated
/build.*.properties
/dist

_sass_cache_*.css

build.*.properties
dist
out
classes
data
target
/build-tool-sdk/
